In [1]:
import os
os.chdir('/workspaces/work_utils2')

In [2]:
import random_dataframe as rd

In [3]:
specs = {
    'id': rd.create_id_column(start=1001),
    'name': rd.create_text_column(nulls_pct=20),
    'date': rd.create_date_column(
        start_date='2022-01-01',
        end_date='2022-12-31'
    ),
    'customer_id': rd.create_integer_column(
        distribution='uniform',
        min_val=1, 
        max_val=1000
    ),
    'score': rd.create_float_column(
        distribution='normal',
        mean=75, 
        std=10,
        min_val=0,
        max_val=100,
        nulls_pct=15
    ),
    'active': rd.create_boolean_column(prob_true=0.8),
    'value': rd.create_float_column(
        distribution='normal',
        mean=100,
        std=15,
        min_val=0
    ),
    'category': rd.create_category_column(
        values=['Low', 'Medium', 'High'],
        probabilities=[0.6, 0.3, 0.1]
    ),
    'product_category': rd.create_category_column(
        values=['Electronics', 'Clothing', 'Food', 'Books', 'Home'],
        probabilities=[0.3, 0.25, 0.2, 0.15, 0.1]
    ),
    'quantity': rd.create_integer_column(
        distribution='lognormal',
        mean=1,
        std=0.5,
        min_val=1,
        max_val=10
    ),
    'price': rd.create_float_column(
        distribution='lognormal',
        mean=3,
        std=1,
        min_val=10,
        max_val=500
    ),
    'is_discounted': rd.create_boolean_column(prob_true=0.3),
}

# Generate DataFrame
df = rd.create_dataframe(specs, n_rows=10000, random_seed=42)
df.sample(3)

,id,name,date,customer_id,score,active,value,category,product_category,quantity,price,is_discounted
4806,5807,wHcw4WeCHReCS1x,2022-01-17,166,86.928901,True,96.584341,Low,Books,7,10.000000,False
351,1352,N1tDLcB3zDmmbKWL,2022-06-18,804,100.000000,True,106.629867,Low,Food,1,67.875496,True
1217,2218,wTxCdLCsAC3J,2022-07-11,663,100.000000,False,98.190510,Low,Electronics,1,23.564057,False