In [2]:
import os
os.chdir('/workspaces/work_utils2')

In [3]:
import random_dataframe as rd

In [9]:
import json
# read dict from json file
with open('/workspaces/work_utils2/notebooks/creating_random_data/example_03.json', 'r') as f:
    specs = json.load(f)

In [10]:
# Generate DataFrame
df = rd.create_dataframe(specs, n_rows=10000, random_seed=42)
df.sample(20)

,id,name,open_date,open_week,open_month,customer_id,score,active,value,category,product_category,quantity,price,is_discounted
1574,2575,yq0Gwi,2024-02-23,2024-02-09,2024-08-31,448,NaN,False,91.881375,Low,Books,2,147.074161,False
9133,10134,kKVUqq,2024-02-09,2024-10-18,2024-12-31,280,82.236598,True,113.501735,Medium,Clothing,2,19.365444,False
4903,5904,9OF049EJyehqotSUCJXY3Bhn,2024-12-22,2024-10-04,2024-04-30,359,66.217815,False,107.599943,Low,Food,2,23.601668,False
7157,8158,ZGVNm1rFG599g,2024-03-10,2024-12-06,2024-10-31,884,91.947943,True,95.126278,Low,Food,1,10.000000,True
3341,4342,hDJZPkUecobb4h1TD9OeDRjGxsDykW,2024-01-29,2024-03-29,2024-07-31,738,76.350755,True,71.724122,Low,Food,3,17.050712,False
3344,4345,h62EzCdXByNFJk,2024-05-21,2024-06-28,2024-05-31,315,85.275317,False,89.222148,Low,Clothing,4,14.696158,False
25,1026,LSY1hAAHuD,2024-01-17,2024-06-21,2024-07-31,317,73.969883,True,98.365210,Medium,Books,2,56.892543,True
7032,8033,Tp5npfJZxYAyNJ7CEcmdkVo7bof,2024-11-10,2024-05-03,2024-03-31,690,67.587647,True,75.231734,Low,Electronics,1,23.996394,True
6965,7966,peRT9jmU5fKpfC7ywkCuz,2024-04-02,2024-08-16,2024-07-31,970,69.280234,True,105.288728,Low,Electronics,1,63.523196,True
3054,4055,None,2024-10-27,2024-07-19,2024-07-31,389,93.765302,True,123.891137,Medium,Electronics,10,30.446343,False
4093,5094,None,2024-06-08,2024-03-01,2024-04-30,122,72.562751,True,62.429433,Low,Food,2,18.749601,False
5289,6290,GRslQ1isF,2024-07-10,2024-02-23,2024-12-31,922,NaN,True,100.161563,Medium,Home,4,13.937614,True
6558,7559,ML4gKgo8Cjt5Si,2024-09-17,2024-08-30,2024-06-30,205,64.652932,False,99.789903,Low,Books,2,52.534624,False
1411,2412,RvTz5BSniYzbkqHsMrmeXw,2024-08-25,2024-02-23,2024-06-30,718,81.052927,True,124.330787,Low,Home,3,50.765913,False
8336,9337,2eUxFWHKWkjwYLjQgV0mwkIhwJ,2024-11-07,2024-05-24,2024-06-30,883,76.867604,True,102.744370,Low,Electronics,5,10.000000,True
3375,4376,None,2024-04-28,2024-10-25,2024-02-29,703,NaN,True,87.397060,Medium,Clothing,5,57.758638,False
2874,3875,bZytgkeCrhA5PbIzw,2024-01-01,2024-06-21,2024-04-30,942,85.159087,True,94.214490,Low,Clothing,1,10.000000,True
4235,5236,pMIowK4hz7ve5H,2024-10-19,2024-11-08,2024-12-31,404,92.705265,True,68.673578,Medium,Electronics,1,10.000000,True
3944,4945,niIRJyoS59,2024-03-15,2024-08-16,2024-03-31,538,71.677528,True,104.625704,Low,Books,1,10.000000,False
610,1611,a0c1zriLwu4auAP6f2RJ,2024-11-27,2024-08-23,2024-03-31,477,66.367147,True,125.517457,Low,Electronics,2,10.000000,True